body{
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Red Hat Display', sans-serif;
    /* font-family: 'Rock Salt', cursive; */

}

::-webkit-scrollbar {
    position: absolute;
    z-index: 1000;
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 1);
  }

#wrapper{
    display: grid;

    grid-template-areas: 
    "nav nav"
    "ser ser"
    "pop pop"
    "bo1 bo1"
    "bo2 bo2"
    "fot fot"
    ;
    grid-template-rows: 0rem 100vh auto auto auto 10rem;
    grid-template-columns: 50vw 1fr;
}


/*nav*/

nav{
    grid-area: nav;
    background-color: #B202FA;
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 10px;
    position:fixed;
    width: 100vw;
    gap: 10px;
    z-index: 1000000;
}

#logo{
    z-index: 10;
    width: 300px;
    
}

#planer{
    align-self: flex-start;
    margin-left: auto;
    padding: 0px 30px;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

#omoss{
    text-decoration: none;
    color: inherit;
    padding: 10px 40px 10px 10px;
}

#omoss.active{
    color: yellow;
}

#planer.active{
    color: yellow;
}



/*searchbar*/

#search{
    grid-area: ser;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("../img/hitta-din-bok2.jpg");
    
    background-size: max(100vw, 100vh);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#search_background{
    height: 100px;
    
}


#searchbox {
    border-radius: 5px;
    font-size: large;
    background-color: white;
    color: black;
    height: 5vh;
    width: 15vw;
    border-color: #b202fa;
    
}

::placeholder {
    color: #b202fa;
}


#searchasd{
    display: flex;
    position:relative;
    text-align: center;
}


/*pop*/

#pop{
    grid-area: pop;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    gap: 10px;
    overflow: hidden;


}





.pop{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 5px solid #b202fa
    
}


/*bok1*/

#bok1{
    grid-area: bo1;
    display: flex;
    justify-content: space-around;



    border-radius: 5px;
    padding: 10vw;
    gap: 30px;
}

#box1text{
    padding: 10px;
}

#bok1img{
    width: 30vw;
    height:fit-content;
    border-radius: 10px;
    border: 5px solid #b202fa;



    
}


/*bok2*/

#bok2{
    grid-area: bo2;
    display: flex;

    border-radius: 5px;
    padding: 10vw;
    gap: 30px;


    
}

#bok2text{
    display: flex;
    align-content: flex-start;
    padding: 5px;
}

#bok2img{
    width: 30vw;
    height:fit-content;
    border-radius: 10px;
    display: flex;
    align-content:flex-end;
    border: 5px solid #b202fa;

    

    
    
}





/*Footer*/

#footer{
    grid-area: fot;
    background-color: #b202fa;
    display: flex;
    justify-content: space-around;
    


}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    text-decoration: none;
    color: inherit;
}

.flex > a  {
    color:inherit;
    text-decoration: none
}




/*OM OSS*/

#wrapperomoss{
    display: grid;

    grid-template-areas: 
    "nav"
    "txt"
    "wor"
    "fot"
    ;
    grid-template-rows: 3rem auto auto 10rem;
    grid-template-columns: 1fr;
    background-color: black;
}



#textomoss{
    grid-area: txt;
    color: white;
    padding: 10px;
}

#workers{
    grid-area: wor;

    
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 100px;
    padding: 50px 100px 500px 100px;
    justify-content: center;

  
    
}

.card{
    border:1px solid black;
    border-left:150px solid transparent;
    border-right:150px solid transparent;
    border: 5px solid #b202fa;
    border-radius: 10px;
    width: 200px;
    height: 320px;
}

.pers{
    border-radius: 5px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    
}


.namnbox{
    position: relative;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), #b202fa, #b202fa);
    bottom: 60px;
    height: 80px;
    overflow: hidden;
}

.namn{
    position: relative;
    font-size: larger;
    top: 30px;
}





/*PLANER*/


#wrapperplaner{
    display: grid;

    grid-template-areas: 
    "nav"
    "pla"
    "fot"
    ;
    grid-template-rows: 3rem calc(100vh - 13rem) 10rem;
    grid-template-columns: 1fr;
}



#plandiv{
    grid-area: pla;
    background-color: black;
    padding: 50px;

    
    display: flex;
    justify-content:center;
    gap: 100px;
    
}


#brons{
    background-color: black;
    width: 200px;
    height: 300px;
    top: 15%;
    position: relative;
    border: 5px solid #CD7F32;
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 10px;
    
}


#silver{
    background-color: black;
    width: 200px;
    height: 300px;
    top: 15%;
    position: relative;
    border: 5px solid silver;
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 10px;
}

#guld{
    background-color: black;
    width: 200px;
    height: 300px;
    top: 15%;
    position: relative;
    border: 5px solid gold;
    border-radius: 10px;
    text-align: center;
    
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 10px;
}



.planbutton{
    background-color: white;
    color: black;
    font-weight: bold;

    position: absolute;
    top: 250px;

    border-radius: 10px;
    width: 100px;
    align-items: center;
    
}