body{
    background-color: black;
    color: white;
    width: 1vh;
}

#wrapper{
    display: grid;

    grid-template-areas: 
    "nav nav"
    "ser ser"
    "pop pop"
    "bo1 bo1"
    "bo2 bo2"
    ;
    grid-template-rows: 3rem 10rem 20rem 5rem 5rem;
}


/*nav*/

nav{
    grid-area: nav;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 10px;
    
}

#planer{
    align-self: flex-start;
    margin-left: auto;
    padding: 0px 30px;
    text-decoration: none;
    color: inherit;
}

#omoss{
    text-decoration: none;
    color: inherit;
}


/*searchbar*/

#search{
    grid-area: ser;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbox {
    border-radius: 10px;
    font-size: large;
    background-color: #b202fa;
    color: aliceblue;
    
    
}
::placeholder {
    color: white;
}

/*pop*/

#pop2{
    grid-area: pop;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    gap: 10px;

    

    position: relative;
    animation: monFrame 50s linear 1s infinite;

}

#pop, #pop img {
    --duration: 1000ms;
}

#pop {
    width: 100%;
    position: relative;
    grid-area: pop;
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    --duration: 20s;
    height: 100px;
    background: red;
    transform: translateX(0);
    transition: calc(var(--duration) * .1) ease-out;
}

#pop:hover {
    transform: translateX(-0.5%);
}
#pop2:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translate(-100%);
   }
}


#pop:hover{
    /* animation-duration: 80000s !important; */
    -moz-animation-play-state:paused;
    animation-play-state:paused;
    cursor: pointer;
    /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
    /* animation: monFrame 50s ease-in 1s infinite; */
  }



@keyframes monFrame {
    0%   {left: -50%}
    100%  {left: -0.2%}
}


.pop{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 5px;
    
}



#bok1{
    grid-area: bo1;
}

#bok2{
    grid-area: bo2;
}